/* Explore */
.explore-title {
    color: white;
    font-size: 2.2rem;
}

.explore-card {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    color: white;
    display: flex;
    flex: 1 1 0;
    font-size: 1.5rem;
    height: 160px;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: flex-grow 0.4s ease-in-out;
    white-space: nowrap;
}

.explore-card::before {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 0.3s;
    width: 100%;
}

.explore-card span {
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.explore-card:hover::before,
.explore-card:active::before {
    background: rgba(0, 0, 0, 0.4);
}

.explore-card:hover, .explore-card:active {
    background: rgba(0, 0, 0, 0.1);
    flex-grow: 2.5;
    font-size: 1.8rem;
}

.explore-card.compressed {
    font-size: 0.8rem; 
}

.explore-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.explore-section {
    background-color: #212121; 
    margin: 40px 0; 
    max-width: 100%;
    padding: 60px 20px;
}

.explore-section h2 {
    margin-bottom: 10px;
    text-align: center;
}

/* Mobile Responsiveness */
@media (max-width: 800px) {
    .explore-container {
        flex-wrap: wrap;
    }

    .explore-card {
        flex: 1 1 calc(50% - 15px); /* 2x2 grid */
        height: 120px;
    }
    
    .explore-card:hover, .explore-card:active {
        flex-grow: 1; /* Disable stretch on mobile to prevent layout shifting */
    }
}

@media (max-width: 480px) {
    .explore-card {
        flex: 1 1 100%; /* 1x4 grid */
        height: 100px;
    }
}
