* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lta-black);
    font-family: Ubuntu;
}

.content {
    /* margin: 40px auto; */
    /* padding: 0 20px; */
    text-align: center;
}

/* Navbar*/
.navbar {
    background-color: var(--lta-darkgreen);
    border-bottom: 4px solid var(--lta-yellow);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.nav-logo img {
    display: block;
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a:hover, .nav-links a:active {
    color: deepskyblue;
}
