:root {
    --lta-nsl-color: #DF2827;
    --lta-ewl-color: #009645;
    --lta-nel-color: #9900AB;
    --lta-ccl-color: #FA9E0D;
    --lta-dtl-color: #0055B8;
    --lta-tel-color: #9D5918;
    --lta-jrl-color: #00ADBB;
    --lta-crl-color: #93D500;
    --lta-stl-color: #F266B5;
    --lta-lrt-color: #708270;
    --lta-rts-color: #87CEFA;
    --lta-black:     #2E2A25;
    --lta-darkgreen: #01474F;
    --lta-yellow:    #FFD004;
    --lta-lushgreen: #88FF00;
}

.lta-nsl {
    background-color: var(--lta-nsl-color);
    color: white;
}

.lta-ewl {
    background-color: var(--lta-ewl-color);
    color: white;
}

.lta-nel {
    background-color: var(--lta-nel-color);
    color: white;
}

.lta-ccl {
    background-color: var(--lta-ccl-color);
    color: var(--lta-black);
}

.lta-dtl {
    background-color: var(--lta-dtl-color);
    color: white;
}

.lta-tel {
    background-color: var(--lta-tel-color);
    color: white;
}

.lta-jrl {
    background-color: var(--lta-jrl-color);
    color: white;
}

.lta-crl {
    background-color: var(--lta-crl-color);
    color: var(--lta-black);
}

.lta-stl {
    background-color: var(--lta-stl-color);
    color: white;
}

.lta-lrt {
    background-color: var(--lta-lrt-color);
    color: white;
}

.lta-rts {
    background-color: var(--lta-rts-color); /* RTS Link */
    color: var(--lta-black);
}

.lta-mrt {
    background-color: var(--lta-darkgreen);
    color: var(--lta-yellow);
}

.lta-bus {
    background-color: var(--lta-lushgreen);
    color: var(--lta-black);
}
